/*[data-theme="light"] {
  --main-background-color: #f5f6f7;
  --main-text-color: #1b1b32;
  --header-background-color: #fff;
  --header-text-color: black;
  --highlight-color: #9f9f9f;
}*/

:root {
  --main-background-color: #1b1b32;
  --main-text-color: #f5f6f7;
  --header-background-color: #0a0a23;
  --header-text-color: #fff;
  --highlight-color: #1b1b32;
}

body {
    width: 99%;
    height: 99%;
    margin: 5;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1,h2 {
    font: Impact;
}

header h2 {
  border-bottom: None;
}

h2 {
    text-align: center;
    border-bottom: 2px solid var(--main-text-color);
}

p {
    line-height: 2;
    margin: 1em auto;
    font: Verdana, Tahoma;
}

.indent {
    text-indent: 50px;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: var(--main-background-color);
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header {
    text-transform: uppercase;
    padding: 16px;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    border-bottom: 4px solid #fdb347;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: var(--main-text-color);
    color: var(--main-background-color);
    border-color: var(--main-background-color);
    min-width: 300px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

nav > ul > li {
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
  }

  header a {
    text-decoration: None;
  }
  
  header a:visited {
    color: var(--main-text-color);
  }

footer {
    text-align: center;
}