body {
    width: 99%;
    height: 99%;
    margin: 5;
    background-color: #1b1b32;
    color: #f5f6f7;
}

h1 {
    font: impact;
    text-align: center;
}

p {
    font: courier;
}

label {
    display: block;
    margin: 0.5rem 0;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.header {
    text-transform: uppercase;
    padding: 32px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #fdb347;
}